main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  -webkit-animation: 1s ease-in 0s 1 slideInLeft;
          animation: 1s ease-in 0s 1 slideInLeft;
}
@-webkit-keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
main .testimony-container {
  width: 100%;
  padding: 0.5rem;
  background-image: url(../image/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
main .testimony-container .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
main .testimony-container .image .profile {
  border-radius: 0.5rem;
  width: 90%;
  box-shadow: 3px 6px 31px 12px rgba(0, 0, 0, 0.3);
}
main .testimony-container .button {
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
  background: #fff;
  width: 5rem;
  padding: 0.8rem;
  border-radius: 5rem;
  box-shadow: 12px 15px 15px -3px rgba(0, 0, 0, 0.3);
}
main .testimony-container .button button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}
main .testimony-container .button button img {
  width: 80%;
}
main .testimony-container .button #next:focus > .profile {
  opacity: 0;
}
main .testimony {
  background-image: url(../image/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: top center;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-direction: center;
  align-items: center;
  text-align: center;
}
main .testimony h1 {
  font-size: 1rem;
  font-weight: 300;
  color: hsl(240deg, 38%, 20%);
  letter-spacing: 0.5px;
  line-height: 1.4rem;
}
main .testimony .name-container {
  line-height: 1.3rem;
}
main .testimony .name-container h2 {
  font-size: 1rem;
}
main .testimony .name-container p {
  letter-spacing: 0.5px;
  color: hsl(240deg, 18%, 77%);
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  main {
    padding: 4rem;
  }
  main .testimony-container .image .profile {
    width: 70%;
  }
  main .testimony {
    margin-top: 2rem;
  }
  main .testimony h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  main .testimony .name-container {
    line-height: 1.5rem;
  }
  main .testimony .name-container h2 {
    font-size: 1.3rem;
  }
  main .testimony .name-container p {
    letter-spacing: 1px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem;
  }
  main .testimony-container .image {
    margin-left: -3rem;
    z-index: 1;
    width: 100%;
  }
  main .testimony-container .image .profile {
    border-radius: 0.5rem;
    width: 23rem;
  }
  main .testimony {
    background-size: 5rem;
    background-position: 5rem 0;
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: left;
  }
  main .testimony h1 {
    font-size: 1.3rem;
    font-weight: 300;
    color: hsl(240deg, 38%, 20%);
    letter-spacing: 1px;
    line-height: 1.7rem;
  }
  main .testimony .name-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    text-align: left;
    line-height: 1.3rem;
  }
  main .testimony .name-container h2 {
    font-size: 1rem;
  }
  main .testimony .name-container p {
    letter-spacing: 0.5px;
    color: hsl(240deg, 18%, 77%);
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1440px) {
  main {
    flex-direction: row-reverse;
    padding: 10rem;
    gap: 0;
  }
  main .testimony-container {
    background-position: center;
  }
  main .testimony-container .image {
    display: flex;
    width: 35rem;
  }
  main .testimony-container .image .profile {
    border-radius: 0.5rem;
    width: 85%;
  }
  main .testimony-container .button {
    margin-top: -1rem;
    margin-left: -15rem;
    width: 6rem;
    padding: 1rem;
  }
  main .testimony {
    margin-right: -5rem;
    margin-top: -10rem;
    background-size: 8rem;
    background-position: 5rem 0;
    padding-top: 3rem;
    gap: 2rem;
    text-align: left;
  }
  main .testimony h1 {
    width: 100%;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
  }
  main .testimony .name-container {
    line-height: 1.3rem;
  }
  main .testimony .name-container h2 {
    font-size: 1.5rem;
  }
  main .testimony .name-container p {
    letter-spacing: 0.5px;
    color: hsl(240deg, 18%, 77%);
    font-size: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-image: url(../image/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 18rem;
  background-position: left bottom;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 30rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-size: 50rem;
  }
}/*# sourceMappingURL=styles.css.map */